.DS_Store
._.DS_Store*
.metadata
.project
.classpath
.settings
.history
gen
**/*.swp
**/*~.nib
**/build/
**/*.pbxuser
**/*.perspective
**/*.perspectivev3
*.xcworkspace
*.xcuserdatad
**/target
target
*.iml
project/*.ipr
project/*.iml
project/*.iws
project/out
project/*/target
project/target
project/project
project/*/bin
project/*/build
project/*.iml
project/*/*.iml
project/.idea
project/.idea/*
.idea
.idea/*
.idea/**/*
.DS_Store
project/.DS_Store
project/*/.DS_Store
tm.out
tmlog*.log
*.tm*.epoch
out/
provisioning/.vagrant
provisioning/*/.vagrant
provisioning/*/*.known
/sbt/akka-patterns-store/
/daemon/src/build/
*.lock
log/
logs/
tmp/
build/
akka-patterns-store/
/bin/

# personal workspace and tmpfiles
build.sbt.org
hydroabstracts.*
misc/NZaquifers.xls
misc/Papawai.csv
misc/catchments.csv
misc/db_states/
misc/fuseki_111_config_full.ttl
misc/gaz_names.csv
misc/gaz_names_macrons.csv
misc/glossary.csv
misc/glossary_esc.csv
misc/inspire-theme.rdf
misc/ngmp-params.csv
misc/ngmp-params.xls
misc/papawai.rdf
misc/regions.rdf
misc/royal-files/abs-full-list.txt
misc/royal-files/abs.lst
misc/royal-files/full-art/
misc/royal-files/full.lst
misc/royal-files/geol-artlist1.txt
misc/royal-files/geol-artlist2.txt
misc/royal-files/head500_1.lst
misc/royal-files/head500_2.lst
misc/royal-files/head500_3.lst
misc/royal-files/head500_4.lst
misc/royal-files/head500_5.lst
misc/royal-files/issues-html/
misc/royal-files/pdf-full-list.txt
misc/royal-files/pdfs/
misc/royal-files/royal-art-list.txt
misc/royal-files/royal-art-list.txt2
misc/royal-files/spark/
misc/royal-files/tess-head1-2.tgz
misc/royal-files/tess-head3-5.tgz
misc/royal-files/tesseracts/
misc/royal-files/full-art-geol/
misc/royal-files/geol-pdflist.txt
